html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f9f9f9;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	color: #383838;
	opacity: 0;
}

a {
	color: #383838;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.meta {
	font-family: ff-meta-serif-web-pro,serif;
	font-weight: 700;
	font-style: normal;
	color: #383838;
	font-size: 5vh;
}

.meta-2 {
	font-family: ff-meta-serif-web-pro,serif;
	font-weight: 700;
	font-style: normal;
	color: #383838;
	font-size: 5vh;
	line-height: 8vh;
}

.meta-3 {
	font-family: ff-meta-serif-web-pro,serif;
	font-weight: 800;
	font-style: normal;
	color: #383838;
	font-size: 5vh;
	line-height: 8vh;
}

.helvetica {
	font-size: 4vh;
	line-height: 8vh;
	width: 77.5vw;
	word-wrap: break-word;
	clear: both;
}

.helvetica-2 {
	font-size: 11px;
	line-height: 10px;
	width: 77.5vw;
	word-wrap: break-word;
	clear: both;
	font-weight: bold;
}

.intro-page {
	float: left;
	margin-left: 10vw;
	width: 80vw;
}

.myStory {
	font-size: 3vh;
	line-height: 4.3vh;
	font-weight: 500;
	width: 70%;
}

.myStory-span {
	font-weight: 800;
	font-size: 4.5vh;
}

.myStory-italics {
	font-style: italic;
	font-weight: 500;
}

.title-italic {
	font-style: italic;
	font-weight: 600;
}

.myStoryContent {
	margin-left: auto;
	margin-right: auto;
	width: 77.5vw;
	margin-top: 32vh;
	height: 66vh;
	overflow: auto;
	overflow-y: scroll;
}

.toArchiveButton {
	margin-top: 5vh;
	font-size: 3vh;
	padding: 1.5vh;
	padding-right: 0vh;
	border: 2px #383838 solid;
	width: 12vw;
	border-radius: 5px;
	transition: background-color 1s;
}

.toArchiveButton:hover {
	background-color: lightgray;
}

.archiveContent {
	margin-left: auto;
	margin-right: auto;
	width: 77.5vw;
	margin-top: 20vh;
	position: relative;
	height: 79vh;
}

.names {
	position: absolute;
	/*width: 100px;*/
	height: 100px;
	font-size: 5vw;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	color: #f9f9f9;
	transition: 1s;
}

/*.names:hover {
	color: #383838;
	text-shadow: 
		-1px -1px 0 #f9f9f9,
		1px -1px 0 #f9f9f9,
		-1px 1px 0 #f9f9f9,
		1px 1px 0 #f9f9f9;
}*/

.s-name {
	font-size: 1vw;
	height: 3vh;
	transition: 0.8s;
}

.s-name:hover {
	/*height: 20vh;*/
	transform: scale(1.1);
	transform-origin: center;
}

.sm-name {
	font-size: 2vw;
	height: 5vh;
	transition: 0.8s;
}

.sm-name:hover {
	/*height: 20vh;*/
	transform: scale(1.1);
	transform-origin: center;
}

.m-name {
	font-size: 3vw;
	height: 9vh;
	transition: 0.8s;
}

.m-name:hover {
	/*height: 20vh;*/
	transform: scale(1.1);
	transform-origin: center;
}

.ml-name {
	font-size: 4vw;
	height: 13vh;
	transition: 0.8s;
}

.ml-name:hover {
	/*height: 20vh;*/
	transform: scale(1.1);
	transform-origin: center;
}

.l-name {
	font-size: 5vw;
	height: 16vh;
	transition: 0.8s;
}

.l-name:hover {
	/*height: 20vh;*/
	transform: scale(1.1);
	transform-origin: center;
}

.page {
	float: left;
	margin-left: 10vw;
	width: 80vw;
	height: 100vh;
	position: relative;
	scroll-snap-align: center;
}

.docScroller {
	overflow-x: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	scroll-snap-points-y: repeat(100%);
	scroll-snap-type: mandatory;
	/*scroll-snap-type: y proximity;*/
	scroll-snap-destination: 100% 0%;
}

.header {
	/*margin-top: 4vh;*/
	height: 8vh;
	position: fixed;
	width: 80vw;
	background-color: #f9f9f9;
	padding-top: 4vh;
	padding-bottom: 10vh;
	z-index: 4;
}

.about {
	position: relative;
	float: right;
	font-size: 13px;
	margin-top: 10px;
	margin-right: 1vw;
}

.logo {
	width: 40vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 38vh 0;
}

.inputBox {
	font-size: 11px;
	line-height: 10px;
	padding: 9px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	width: 21vw;
	color: #383838;
	font-weight: bold;
}

.this::placeholder {
	color: #383838;
	opacity: 0.4;
}

::placeholder { 
	color: #383838;
	opacity: 1;
}

.searchBox {
	font-size: 11px;
	line-height: 10px;
	padding: 9px 20px;
	color: #383838;
	font-weight: bold;
	height: none;
}

input:focus {
    outline:none;
}

.logo-resize {
	width: 15vw;
	padding-right: 1vw;
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: 78vw;
	margin-top: 32vh;
	height: 68vh;
	overflow: auto;
	overflow-y: scroll;
	position: relative;
}

.arrows {
	width: 3vh;
}

#hover {
	position: absolute;
	right: -3vw;
	top: 50vh;
}

#hover2 {
	position: absolute;
	right: -3vw;
	top: 54vh;
}

#hover3 {
	position: absolute;
	right: -3vw;
	top: 50vh;
}

#hover4 {
	position: absolute;
	right: -3vw;
	top: 54vh;
}

.downs {
	width: 7vh;
}

#down {
	position: absolute;
	right: -3vw;
	top: 86vh;
}
/*
#down2 {
	position: absolute;
	right: -3vw;
	top: 87vh;
}*/

.addStoryButton {
	margin-top: 5vh;
	font-size: 5vh;
	padding: 1.5vh;
	border: 2px #383838 solid;
	width: 21vw;
	border-radius: 5px;
	transition: background-color 1s;
}

.addStoryButton:hover {
	background-color: lightgray;
}

.star {
	color: #c23838;
}

.lineHeightChange {
	line-height: 6vh !important; 
}

.checkbox {
	width: 2vw;
	height: 2vw;
	border: 2px #383838 solid;
	float: left;
	margin-top: 1vw;
}

.yesNo {
	padding-bottom: 2vh;
	float: left;
	width: 20%;
}

.questions {
	margin-top: 32vh;
}

.response {
	margin-bottom: 5vh;
}

.response-input {
	width: 47%;
	box-sizing: border-box;
	border: none;
	border-bottom: 3px solid #383838;
	margin-bottom: 5vh;
	background-color: #f9f9f9;
	border-spacing: 15vh;
}

.response-input-long {
	width: 69%;
	box-sizing: border-box;
	border: none;
	border-bottom: 3px solid #383838;
	margin-bottom: 5vh;
	background-color: #f9f9f9;
}

.response-input-other {
	width: 31%;
	box-sizing: border-box;
	border: none;
	border-bottom: 3px solid #383838;
	margin-bottom: 5vh;
	background-color: #f9f9f9;
}

.byWho {
	font-size: 5vh;
	padding-left: 3vw;
}

.submitButton {
	margin-top: 5vh;
	font-size: 5vh;
	padding: 1.5vh;
	border: 2px #383838 solid;
	width: 11.5vw;
	border-radius: 5px;
	transition: background-color 1s;
}

.submitButton:hover {
	background-color: lightgray;
}



/* The container */
.container, .container2 {
	display: block;
	position: relative;
	padding-left: 50px;
	margin-right: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.container input, .container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark, .checkmark2 {
  position: absolute;
  top: 10px;
  left: 0;
  height: 4vh;
  width: 4vh;
  /*background-color: #eee;*/
  border-radius: 0%;
  border: 2px solid #383838;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark, .container2:hover input ~ .checkmark2 {
  background-color: #efefef;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after, .checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after, .container2 input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after, .container2 .checkmark2:after {
 	top: 1vh;
	left: 1vh;
	width: 1.5vh;
	height: 1.5vh;
	border-radius: 0%;
	background: #383838;
}

#result {
	position: absolute;
	width: 20vw;
	max-width:870px;
	cursor: pointer;
	overflow-y: auto;
	max-height: 400px;
	box-sizing: border-box;
	z-index: 1001;
}

.link-class {
	transition: 0.5s;
}

.link-class:hover{
	background-color:#f1f1f1;
}

.active {
	display: none;
}

.img-thumbnail {
	border: none;
	padding: 0;
}

li:hover {
	color: black;
}

.scrollTo1 {
    position: absolute;
	right: -3vw;
	top: 86vh;
    width: 18px;
    height: 18px;
    margin-left: -12px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

.scrollTo2 {
    position: absolute;
	right: -3vw;
	top: 84.5vh;
    width: 18px;
    height: 18px;
    margin-left: -12px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb06 1.5s infinite;
    animation: sdb06 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.alex {
	top: 66vh; 
	left: 37vw;
}

.ayanna {
	top: 27vh; 
	left: 57vw;
}

.bersabeh {
	top: -4vh; 
	left: 46vw; 
	height: 15vh;
}

.harriet {
	top: 59vh; 
	left: -4vw;
}

.kuu {
	top: 49vh; 
	left: 50vw;
}

.maddy {
	top: 16vh; 
	left: 70vw;
}

.maggie {
	top: 16vh; 
	left: 44vw;
}

.mars {
	top: 39vh; 
	left: 28vw;
}

.matt {
	top: 1vh; 
	left: 16vw;
}

.matthew {
	top: 25vh; 
	left: 25vw;
}

.nick {
	top: 37vh; 
	left: 47vw;
}

.onyou {
	top: 58vh; 
	left: 57vw; 
	height: 15vh;
}

.peeti {
	top: 46vh; 
	left: 2vw;
}

.rita {
	top: 20vh; 
	left: 1vw;
}

.russell {
	top: 37vh; 
	left: 10vw;
}

.sherry {
	top: -1vh; 
	left: -2vw;
}

.soa {
	top: 57vh; 
	left: 17vw;
}

.tony {
	top: 3vh; 
	left: 36vw;
}

.cont {
	width: 20vw; 
	display: inline-block;
}

#content-desktop {
	display: block;
}

#content-mobile {
	display: none;
}

@media only screen and (max-width: 600px) {
  .names {
  	height: 7vh;
  }

  .ayanna {
  	top: -5vh;
  	left: 0vw;
  }

  .alex {
  	top: -5vh;
  	left: 45vw;
  }

  .bersabeh {
  	top: 3vh;
  	left: 5vw;
  }

  .harriet {
  	top: 11vh;
  	left: 0vw;
  }

  .kuu {
  	top: 11vh;
  	left: 40vw;
  }

  .maddy {
  	top: 19vh;
  	left: 5vw;
  }

  .maggie {
  	top: 20vh;
  	left: 55vw;
  }

  .mars {
  	top: 28vh;
  	left: 0vw;
  }

  .matt {
  	top: 28vh;
  	left: 35vw;
  }

  .matthew {
  	top: 37vh;
  	left: -5vw;
  }

  .nick {
  	top: 37vh;
  	left: 55vw;
  	height: 6.6vh;
  }

  .onyou {
  	top: 46vh;
  	left: 5vw;
  }

  .peeti {
  	top: 46vh;
  	left: 55vw;
  }

  .rita {
  	top: 56vh;
  	left: 0vw;
  }

  .russell {
  	top: 55vh;
  	left: 35vw;
  }

  .sherry {
  	top: 65vh;
  	left: 0vw;
  }

  .soa {
  	top: 64vh;
  	left: 50vw;
  }

  .tony {
  	top: 71vh;
  	left: 30vw;
  }

  .logo-resize {
  	width: 51vw;
  }

  .cont {
  	position: absolute;
  	left: 0vw;
  	top: 12vh;
  	width: 60vw;
  	height: 3.5vh;
  	display: none;
  }

  .searchBox {
  	font-size: 8px;
  	padding: 0px 8px;
  }

  .form-control {
  	height: 3.5vh;
  }

  .about {
  	font-size: 10px;
  	padding-top: 8px;
  }

  .myStory {
  	width: 80vw;
  	font-size: 16px;
	line-height: 3.3vh;
	font-weight: 500;
  }

  .myStory-span {
  	font-weight: 800;
	font-size: 3.7vh;
	line-height: 4.2vh;
  }

  .toArchiveButton {
	margin-top: 2vh;
	font-size: 2.5vh;
	padding: 1.3vh;
	padding-right: 1.3vh;
	padding-right: 0vh;
	border: 2px #383838 solid;
	width: 41vw;
	border-radius: 5px;
	transition: background-color 1s;
  }

  .logo {
  	width: 70vw;
  }

  .content, .scrollTo1, .scrollTo2 {
  	display: none;
  }
}

@media screen and (max-width: 768px) {
	#content-desktop {
		display: none;
	}

    #content-mobile {
    	display: block;
    }

    .instagram {
    	padding-top: 15vh;
    	padding-left: 6vw;
    }

    .header {
    	/*padding-left: 10vw;*/
    	width: 100vw;
    }

    .page {
    	width: 100vw;
    	margin-left: 0;
    }

    iframe {
    	width: 80vw;
    }

    .about {
    	padding-right: 20vw;
    }

    #content-mobile .page .header {
    	padding-left: 10vw;
    }

    #content-mobile .page .about {
    	padding-right: 10vw;
    }
}


